* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 430px;
  margin: 0 auto;
  background: #333;
  /* color: #fff; */
  display: grid;
  place-items: center;
}

#app {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: pink;
}